@font-face {
  font-family: "mario";
  src: url(./assets/fonts/mario.ttf);
}

* {
  margin: 0;
  padding: 0;
  color: #ccc;
  font-family: mario;
}

.video_iframe {
  border-radius: 50px;
  border: 5px solid #ccc;
  width: 890px;
  height: 500px;
}

.video {
  display: flex;
  justify-content: center;
}

body {
  background-color: #7c2323;
}

.star {
  max-width: 150px;
  width: 100%;
}

.starList {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 42px;
}

h2 {
  text-align: center;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.titleLevel {
  text-align: center;
  margin-bottom: 24px;
}

.author {
  text-align: center;
  margin-top: 24px;
}

a {
  text-decoration: none;
}

.imgLevel {
  width: 280px;
  height: 280px;
  border: solid 5px #ccc;
  border-radius: 25px;
}

.listLevel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  list-style-type: none;
  justify-content: space-evenly;
  gap: 50px 30px;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 36px;
}

.listImg {
  display: flex;
  justify-content: center;
}

.titleWorld {
  text-align: center;
  margin-top: 16px;
  font-size: 1.2rem;
}

.titleSelect {
  text-align: center;
  margin-bottom: 36px;
  margin-top: 36px;
}

.returnIcon {
  font-size: 48px;
  margin-left: 24px;
  margin-top: 24px;
}

.listName {
  text-align: center;
  margin-top: 8px;
}
