@font-face {
  font-family: "mario";
  src: url(./assets/mario.ttf);
}

* {
  margin: 0;
  padding: 0;
  color: #ccc;
  font-family: mario;
}

.video_iframe {
  border-radius: 50px;
  border: 5px solid #ccc;
}

.video {
  display: flex;
  justify-content: center;
}

body {
  background-color: #7c2323;
}

.star {
  width: 150px;
}

.starList {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 42px;
}

h2 {
  text-align: center;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.titleLevel {
  text-align: center;
  margin-bottom: 24px;
}

.author {
  text-align: center;
  margin-top: 24px;
}

a {
  text-decoration: none;
}
